doctype xml
interface
  requires(lib="gtk" version="4.6")/
  object.GtkApplicationWindow#main_window
    child
      object.GtkBox#box1
        child
          object.GtkBox#box2
            property(name="orientation") vertical
              child
                object.GtkButton#button1
                  property(name="label") Hello, World!

      
